
<form [formGroup]="cbForm">

  <div>
    <input type="checkbox" id="cb_all" name="cb_all" formControlName="cbAll"/>
    <label for="cb_all">Select all</label>
  </div>

  <div>
    <input type="checkbox" id="cb_1" name="cb_1" formControlName="cb1"/>
    <label for="cb_1">Option 1</label>
  </div>

  <div>
    <input type="checkbox" id="cb_2" name="cb_2" formControlName="cb2"/>
    <label for="cb_2">Option 2</label>
  </div>

  <div>
    <input type="checkbox" id="cb_3" name="cb_3" formControlName="cb3"/>
    <label for="cb_3">Option 3</label>
  </div>

</form>
